.container1 {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.input{
  display: flex;
  justify-content: center;
}
.cardTable{
  display:flex;
  justify-content: center;
  flex-direction: column;
}