.newTask{
    border: 5px groove  rgba(135, 207, 235, 0.425);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 16px;
    font: 400 10px/1.3 'Lobster Two', Helvetica, sans-serif;
}